body{

  background: rgb(239,217,206);
  background: linear-gradient(0deg, rgba(239,217,206,1) 0%, rgba(222,192,241,1) 22%, rgba(183,156,237,1) 38%, rgba(149,127,239,1) 56%, rgba(113,97,239,1) 75%, rgba(53,36,186,1) 100%);
  background-repeat: no-repeat;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
  margin-top: 30px;
  font-size: 18px;
}

.nav a:last-child {
  margin-right: 65px;
}